input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button{
    margin-top: 10px;
    padding: 5px 16px;
    margin-right: 5px;
}

.btn1{
    background: #b04173;
    color: rgb(255, 255, 255);
}

.btn2{
    background: #b04173;
    color: rgb(255, 255, 255);
}